* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}



:root {
 
  --main-bg-clr: white ;
  --scnd-bg-clr: #534278;
  --main-txt-clr: #1a1525;
  --scnd-txt-clr: #e9e1f1;
  --cta: #f0da53;
  --scnd-cta: #4c3856;
  --txt-font: 'Montserrat', sans-serif;
  --heading-font: 'Caveat', cursive;

}

body {
  background: linear-gradient(110deg, var(--main-bg-clr), var(--scnd-txt-clr));
  color: var(--main-txt-clr);
  margin: 0;
  font-family: var(--txt-font);
  min-height: 100vh;
 display: grid;  
 grid-template-rows: 5em 1fr 5em ; 
}

header {
  background-color: var(--scnd-bg-clr);
  color: var(--scnd-txt-clr);
  display: flex;
  position: sticky;
  padding: 1em;
  top: 0; 
  font-family: var(--txt-font);
  align-items: baseline;
  justify-content: space-evenly;
  
   
}




button {
 background-color: var(--cta);
 padding: 0.75em;
 margin: 1em;
 color: var(--main-txt-clr);
 border: 1px solid var(--main-txt-clr);
 font-weight: 700;
 text-transform: uppercase;
 border-radius: 0.75em;
 font-family: var(--txt-font);
 
}

button:hover {
  transition: all 0.3s;
  background-color: var(--scnd-bg-clr);
  color: var(--scnd-txt-clr);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

main {
  height: auto;
  margin-top: 3em;
  height: 1fr;
}

footer {
  background-color: var(--scnd-bg-clr);
  text-align: center;
  padding: 1.5em;
  height: 5em;
  
}


a {
  text-decoration: none;
  color: var(--scnd-txt-clr);
   
}

a:hover {
  color: var(--cta);
}

#hamburger {
  display: none;
}

label[for="hamburger"] {
  display: none;
}

img {
  width: 100%;
}

button {
  text-align: center;
  margin-top: 1em;
}

.topNav {
  padding: 0 1.5em;
  font-size: 1.5em;
}

.cta a {
  color: var(--scnd-cta)
}

.img-fit {
  width: 100%;
  height: 30em;
  object-fit: contain;
}

.headerFlex {
  display: flex;
  align-items: baseline;
  
}

.mySlides {
  padding: 1em 0;
}

.logo {
  font-size: 2em;
  font-family: var(--heading-font);
  align-self: flex-start;
  
}

.box {
  color: var(--main-txt-clr);
  padding:1em;
  text-align: center;
  
}

.container {
  
  display: grid;
  grid-template-columns: auto auto auto ;
  
  
  /*
  flexbox layout

  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
  height: auto;*/
}
/*
.bookContainer {
  display: flex;
  flex: wrap;
  padding: 1em;
  width: auto ;
}*/

.footerFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 1.5em;
  font-size: 1.5em;
  justify-content: space-evenly;
}

.intro {
  text-align: center;
  padding: 2em 1em;
  
}

/* Styling for the Work page */

.workAbout {
  padding: 1em 0;
}


@media screen and (max-width:62em) {
  p {
    min-width: 50%;
  }
  .logo {
    font-size: 2em;
    margin: 0;
  }

  header {
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-between;
    height: 3em;
    align-items: center;
  
  }

  nav {
    min-width: 100%;
    transform: translateY(-13em);
    position: absolute;
    display: flex;
    flex-direction: column;
    background: black;
    left: 0;
    top: 0;
 
  }

  nav a {
    padding: 0.1em;
  }
  
  input[type="checkbox"]:checked + nav {
    transition: transform 0.35s;
    transform: translateY(3em);
        
  }

  .logo {
    z-index: 1;
    background: var(--scnd-bg-clr);
    flex-grow: 1;
    min-height: 100%;
    padding-left: .25em;
    line-height: 1.5;
  }

  label[for="hamburger"] {
    display: block;
    background: var(--scnd-bg-clr);
        z-index: 1;
    height: 100%;
    line-height: 3em;
  }

  .container {
    display: grid;
    grid-template-rows: auto auto auto;
   }

   
   .box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
   }

   

   



  
  }
